//general
$body-bg: white;
$font-family-base: "IranSans", sans-serif;
$direction-base: rtl;


//input
$input-padding-y: 12px;
$input-padding-x: 12px;
$input-bg: transparent;
$input-focus-box-shadow:none;
$input-focus-bg:#F7F7F7;

//button
$btn-focus-width: 0;
$btn-focus-box-shadow: none;

$headings-font-weight: bold;



